html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.nav { position: fixed; bottom: 0; left: 0; right: 0; z-index: 9; height: 1.30667rem; background: url(../images/nav.png) no-repeat; background-size: 100% auto; display: -webkit-box; display: -webkit-flex; display: flex; }
.nav li { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; position: relative; }
.nav li a { display: block; height: 1.30667rem; }
.nav li:first-child.on a { background: url(../images/hover1.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(2).on a { background: url(../images/hover2.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(3).on a { background: url(../images/hover3.png) no-repeat; background-size: 100% auto; }
.nav li:last-child.on a { background: url(../images/hover4.png) no-repeat; background-size: 100% auto; }

#mask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: url(../images/mask.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.9); }

.dropdown { z-index: -1; position: absolute; bottom: 1.30667rem; left: 0; right: 0; background: #78401c; border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-transform: translateY(200%); transform: translateY(200%); -webkit-transition: transform .3s; transition: transform .3s; }
.dropdown.on { -webkit-transform: translateY(0); transform: translateY(0); }
.dropdown .link { padding: 0 0.26667rem; }
.dropdown .link a { height: 0.85333rem; line-height: 0.85333rem; text-align: center; color: #fcb07e; border-bottom: 2px solid #864e2a; font-size: 14px; }
[data-dpr="2"] .dropdown .link a { font-size: 28px; }
[data-dpr="3"] .dropdown .link a { font-size: 42px; }
.dropdown .link:last-child a { border-bottom: 0; }

.nav li .dropdown .link a { background: none; }

html, body { height: 100%; }

body { background: url(../images/back.jpg) no-repeat; background-size: 100% auto; }

.rankbox { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; padding: 0.66667rem 0 1.73333rem; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.rankbox::-webkit-scrollbar { opacity: 0; width: 0; }

.ranklist { padding: 0 0.32rem; }
.ranklist li { padding: 0.33333rem 0; font-weight: bold; color: #703f26; text-align: center; font-size: 12px; }
[data-dpr="2"] .ranklist li { font-size: 24px; }
[data-dpr="3"] .ranklist li { font-size: 36px; }
.ranklist li .time { margin-left: 0.4rem; }
.ranklist li:first-child { color: #bd2608; font-size: 13px; }
[data-dpr="2"] .ranklist li:first-child { font-size: 26px; }
[data-dpr="3"] .ranklist li:first-child { font-size: 39px; }
.ranklist li:first-child .number { color: #ffd02d; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); font-size: 16px; }
[data-dpr="2"] .ranklist li:first-child .number { font-size: 32px; }
[data-dpr="3"] .ranklist li:first-child .number { font-size: 48px; }
.ranklist li:nth-child(2) { color: #9d1b04; font-size: 13px; }
[data-dpr="2"] .ranklist li:nth-child(2) { font-size: 26px; }
[data-dpr="3"] .ranklist li:nth-child(2) { font-size: 39px; }
.ranklist li:nth-child(2) .number { color: #dc7200; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); font-size: 16px; }
[data-dpr="2"] .ranklist li:nth-child(2) .number { font-size: 32px; }
[data-dpr="3"] .ranklist li:nth-child(2) .number { font-size: 48px; }
.ranklist li:nth-child(3) { color: #ae541f; font-size: 13px; }
[data-dpr="2"] .ranklist li:nth-child(3) { font-size: 26px; }
[data-dpr="3"] .ranklist li:nth-child(3) { font-size: 39px; }
.ranklist li:nth-child(3) .number { color: #7d431e; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); font-size: 16px; }
[data-dpr="2"] .ranklist li:nth-child(3) .number { font-size: 32px; }
[data-dpr="3"] .ranklist li:nth-child(3) .number { font-size: 48px; }

/*# sourceMappingURL=rank.css.map */
