@import "fun";

.nav{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	height: 98rem/$fsbase;
	background: url(../images/nav.png) no-repeat;
	background-size: 100% auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	li{
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		position: relative;
		a{
			display: block;
			height: 98rem/$fsbase;
		}
		&:first-child.on a{
			background: url(../images/hover1.png) no-repeat;
			background-size: 100% auto;
		}
		&:nth-child(2).on a{
			background: url(../images/hover2.png) no-repeat;
			background-size: 100% auto;
		}
		&:nth-child(3).on a{
			background: url(../images/hover3.png) no-repeat;
			background-size: 100% auto;
		}	
		&:last-child.on a{
			background: url(../images/hover4.png) no-repeat;
			background-size: 100% auto;
		}	
	}
}

#mask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background: url(../images/mask.png) no-repeat;
	background-size: 100% auto;
	background-color: rgba(0,0,0,.9);
}
.dropdown{
	z-index: -1;
	position: absolute;
	bottom: 98rem/$fsbase;
	left: 0;
	right: 0;
	background: #78401c;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
	-webkit-transition: transform .3s;
	transition: transform .3s;
	&.on{
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.link{
		padding: 0 20rem/$fsbase;
		a{
			height: 64rem/$fsbase;
			line-height: 64rem/$fsbase;
			text-align: center;
			color: #fcb07e;
			border-bottom: 2px solid #864e2a;
			@include fdpr(14px);
		}
		&:last-child a{
			border-bottom: 0;
		}
	}
}
.nav li .dropdown .link a{
	background: none;
}