@import "reset";
@import "fun";
@import "nav";

html, body{
	height: 100%;
}
body{
	background: url(../images/back.jpg) no-repeat;
	background-size: 100% auto;
}
.rankbox{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	padding: 50rem/$fsbase 0 130rem/$fsbase;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar{
		opacity: 0;
		width: 0;
	}
}
.ranklist{
	padding: 0 24rem/$fsbase;
	li{
		padding: 25rem/$fsbase 0;
		font-weight: bold;
		color: #703f26;
		text-align: center;
		@include fdpr(12px);
		.time{
			margin-left: 30rem/$fsbase;
		}
		&:first-child{
			color: #bd2608;
			@include fdpr(13px);
			.number{
				color: #ffd02d;
				text-shadow: 0 2px 4px rgba(0,0,0,.7);
				@include fdpr(16px);
			}
		}
		&:nth-child(2){
			color: #9d1b04;
			@include fdpr(13px);
			.number{
				color: #dc7200;
				text-shadow: 0 2px 4px rgba(0,0,0,.7);
				@include fdpr(16px);
			}
		}
		&:nth-child(3){
			color: #ae541f;
			@include fdpr(13px);
			.number{
				color: #7d431e;
				text-shadow: 0 2px 4px rgba(0,0,0,.7);
				@include fdpr(16px);
			}
		}
	}
}












































