@import "reset";
@import "fun";
@import "nav";

.backbox{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 100rem/$fsbase;
	background: url(../images/back.jpg) no-repeat;
	background-size: 100% 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar{
		opacity: 0;
		width: 0;
	}
}
.backframe{
	width: 673rem/$fsbase;
	height: 722rem/$fsbase;
	margin: 74rem/$fsbase auto 0;
	background: url(../images/frame.png) no-repeat;
	background-size: 100% auto;
}
.backtitle{
	padding: 70rem/$fsbase 60rem/$fsbase 40rem/$fsbase 70rem/$fsbase;
	color: #d67419;
	@include fdpr(20px);
	.name{
		display: inline-block;
		@include fdpr(18px);
	}
	.enterTxt{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		border-bottom: 2px solid #9b5a32;
		color: #cd7431;
	}
	.txt{
		width: 100%;
		height: 100%;
		background: transparent;
		@include fdpr(18px);
		color: #cd7431;
	}
	p{
		margin: 0;
		padding-top: 20rem/$fsbase;
		text-align: right;
		@include fdpr(16px);
	}
}
.backrow{
	padding: 0 0 20rem/$fsbase 70rem/$fsbase;
	color: #cd7431;
	@include fdpr(18px);
	.enterTxt{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		border-bottom: 2px solid #9b5a32;
		color: #cd7431;		
	}
	.txt{
		width: 100%;
		height: 100%;
		background: transparent;
		@include fdpr(18px);
		color: #cd7431;
	}
	&:nth-child(3){
		color: #eb7d4a;
	}
}
.sharebtn, .surebtn, .bfbtn{
	display: block;
	width: 542rem/$fsbase;
	height: 89rem/$fsbase;
	margin: 47rem/$fsbase auto 0;
	background: url(../images/share_btn.png) no-repeat;
	background-size: 100% auto;
}
.surebtn{
	background-image: url(../images/sure_btn.png);
}
.bfbtn{
	background-image: url(../images/bf_btn.png);
}
.backtip{
	width: 673rem/$fsbase;
	margin: 0 auto;
	color: #fff;
	.title{
		@include fdpr(16px);
		font-weight: bold;
		padding: 20rem/$fsbase 0;
	}
	.cont{
		@include fdpr(13px);
	}
}
.backsure .enterTxt{
	border-bottom: 0;
}








































