@import "reset";
@import "fun";
@import "nav";

.pagebox{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/bg.png) no-repeat;
	background-size: 100% auto;
}
.joss{
	position: absolute;
	top: 213rem/$fsbase;
	left: 103rem/$fsbase;
	z-index: 3;
	width: 526rem/$fsbase;
	height: 538rem/$fsbase;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.vase{
	top: 620rem/$fsbase;
	left: 70rem/$fsbase;
	width: 233rem/$fsbase;
	height: 233rem/$fsbase;
	z-index: 5;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
	&.two{
		left: auto;
		right: 85rem/$fsbase;
	}
}
.compote{
	top: 757rem/$fsbase;
	left: 218rem/$fsbase;
	width: 81rem/$fsbase;
	height: 96rem/$fsbase;
	z-index: 4;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
	&.two{
		left: auto;
		right: 234rem/$fsbase;
	}
}
.censer{
	top: 551rem/$fsbase;
	left: 310rem/$fsbase;
	width: 118rem/$fsbase;
	height: 303rem/$fsbase;
	z-index: 4;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.bottle{
	top: 806rem/$fsbase;
	left: 350rem/$fsbase;
	width: 33rem/$fsbase;
	height: 47rem/$fsbase;
	z-index: 5;
	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}
.vase, .compote, .censer, .bottle{
	position: absolute;	
}
.circlebottom{
	position: absolute;
	top: 245rem/$fsbase;
	left: 227rem/$fsbase;
	width: 281rem/$fsbase;
	height: 283rem/$fsbase;
	background: url(../images/circle_bg.png) no-repeat;
	background-size: 100% auto;
	z-index: 1;
}
.groly{
	position: absolute;
	top: -15rem/$fsbase;
	left: 97rem/$fsbase;
	width: 530rem/$fsbase;
	height: 519rem/$fsbase;
	z-index: 2;
	overflow: hidden;
	.circle{
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../images/circle.png) no-repeat;
		background-size: 100% auto;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-animation: ring 20s linear infinite;
		animation: ring 20s linear infinite;
	}
}
.incense{
	position: absolute;
	top: 672rem/$fsbase;
	left: 270rem/$fsbase;
	width: 207rem/$fsbase;
	height: 110rem/$fsbase;
	z-index: 6;
	a{
		display: block;
	}
	img{
		display: block;
		width: 100%;
		height: 100%;
		-webkit-animation: bling ease-in-out 1s infinite;
		animation: bling ease-in-out 1s infinite;
	}
}
.light{
	position: absolute;
	top: 448rem/$fsbase;
	left: 35rem/$fsbase;
	width: 135rem/$fsbase;
	height: 319rem/$fsbase;
	z-index: 4;
	&.two{
		left: auto;
		right: 39rem/$fsbase;
	}
	img{
		display: block;
		width: 100%;
	}	
}
.music{
	position: absolute;
	top: 85rem/$fsbase;
	left: 16rem/$fsbase;
	width: 87rem/$fsbase;
	height: 87rem/$fsbase;
	background: url(../images/music.png) no-repeat;
	background-size: 100% auto;
	z-index: 5;
	&.off{
		background-image: url(../images/music_off.png);
	}
}
.smoke{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 98rem/$fsbase;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 68% 100%;
	-webkit-animation: smoking 4s infinite;
	animation: smoking 4s infinite;
}

@-webkit-keyframes ring{
	0%{
		-webkit-transform: rotate(0);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@keyframes ring{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(360deg);
	}
}

@-webkit-keyframes bling{
	0%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}
@keyframes bling{
	0%{
		opacity: .5;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes smoking{
	0%{
		background-image: url(../images/smoke1.png);
	}
	30%{
		background-image: url(../images/smoke2.png);
	}
	60%{
		background-image: url(../images/smoke3.png);
	}
	100%{
		background-image: url(../images/smoke4.png);
	}
}
@keyframes smoking{
	0%{
		background-image: url(../images/smoke1.png);
	}
	30%{
		background-image: url(../images/smoke2.png);
	}
	60%{
		background-image: url(../images/smoke3.png);
	}
	100%{
		background-image: url(../images/smoke4.png);
	}
}

.indexmask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: rgba(0,0,0,.3);
}
.indextip{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 562rem/$fsbase;
	font-weight: bold;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	.cont{
		padding: 52rem/$fsbase 0 40rem/$fsbase;
		text-align: center;
		line-height: 1.5;
		color: #bf070b;
		background: #f5e8d8;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		@include fdpr(14px);
	}	
}
.indextip_btn{
	margin-top: 1px;
	li{	
		a{
			display: block;
			height: 80rem/$fsbase;
			line-height: 80rem/$fsbase;
			text-align: center;
			color: #ea9527;
			background: #f5e8d8;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			@include fdpr(16px);
		}
	}
}

@media screen and (min-width: 360px) and (max-height: 519px) {
	.pagebox{
		background-size: 100% 100%;
	}
	.joss{
		height: 456rem/$fsbase;
		img{
			height: 456rem/$fsbase;
		}
	}
	.light{
		top: 373rem/$fsbase;
	}
	.vase{
		top: 533rem/$fsbase;
	}
	.compote{
		top: 675rem/$fsbase;
	}
	.censer{
		top: 473rem/$fsbase;
	}
	.bottle{
		top: 728rem/$fsbase;
	}
	.incense{
		top: 597rem/$fsbase;
	}
}
@media screen and (min-width: 640px) and (max-height: 960px) {
	$fsb: 64;
	.pagebox{
		background-image: url(../images/bg2.png);
	}
	.joss{
		top: 89rem/$fsb;
		left: 105rem/$fsb;
		width: 415rem/$fsb;
		height: 411rem/$fsb;
	}
	.light{
		top: 246rem/$fsb;
		width: 114rem/$fsb;
		height: 273rem/$fsb;
	}
	.groly{
		top: -62rem/$fsb;
		left: 112rem/$fsb;
		width: 394rem/$fsb;
		height: 373rem/$fsb;
	}
	.circlebottom{
		top: 145rem/$fsbase;
	}
	.vase{
		top: 380rem/$fsb;
		left: 75rem/$fsb;
		width: 190rem/$fsb;
		&.two{
			left: auto;
			right: 75rem/$fsb;
		}
	}
	.compote{
		top: 493rem/$fsb;
		left: 197rem/$fsb;
		width: 67rem/$fsb;
		height: 79rem/$fsb;
		&.two{
			left: auto;
			right: 197rem/$fsb;
		}
	}
	.censer{
		top: 324rem/$fsb;
		left: 272rem/$fsb;
		width: 97rem/$fsb;
		height: 250rem/$fsb;
	}
	.bottle{
		top: 534rem/$fsb;
		left: 305rem/$fsb;
	}
	.incense{
		top: 445rem/$fsb;
	}
}

.listTip, .foreshow{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 642rem/$fsbase;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-weight: bold;
	.cont{
		padding: 30rem/$fsbase 40rem/$fsbase;
		color: #bf070b;
		line-height: 1.5;
		text-indent: 2em;
		background: #f5e8d8;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		@include fdpr(14px);
	}
}
.listTip_btn{
	margin-top: 1px;
	li{
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		&:first-child{
			padding-right: 1px;
			a{
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 10px;
			}
		}
		a{
			display: block;
			height: 80rem/$fsbase;
			line-height: 80rem/$fsbase;
			text-align: center;
			color: #bf070b;
			border-bottom-right-radius: 10px;
			background: #f5e8d8;
			@include fdpr(16px);
		}
	}
}
.listTip .cont{
	min-height: 190rem/$fsbase;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;   
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.foreshow .cont{
	padding-top: 50rem/$fsbase;
	padding-bottom: 30rem/$fsbase;
}
.foreshow_btn{
	margin-top: 1px;
	a{
		display: block;
		height: 80rem/$fsbase;
		line-height: 80rem/$fsbase;
		text-align: center;
		font-weight: bold;
		color: #bf070b;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: #f5e8d8;
		@include fdpr(16px);
	}
}





















































