@import "reset";
@import "fun";
@import "nav";

.tablet{
	position: relative;
	padding-bottom: 98rem/$fsbase;	
	background: #5b2703;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar{
		opacity: 0;
		width: 0;
	}
}
.tablet_list{
	padding-top: 35rem/$fsbase;
	background: url(../images/tablet_bg.png) repeat-y;
	background-size: 100% auto;
	li{
		position: relative;
		float: left;
		width: 33.33%;
		margin-bottom: 17rem/$fsbase;
		img{
			display: block;
			width: 179rem/$fsbase;
			height: 446rem/$fsbase;
			margin: 0 auto;
		}	
		.time{
			display: block;
			height: 35rem/$fsbase;
			margin-top: 38rem/$fsbase;
			line-height: 35rem/$fsbase;
			text-align: center;
			color: #670000;
			font-weight: bold;
			@include fdpr(12px);
		}	
	}
}
.tabname{
	position: absolute;
	top: 186rem/$fsbase;
	left: 50%;
	width: 90rem/$fsbase;
	height: 155rem/$fsbase;
	-webkit-transform: translateX(-38%);
	transform: translateX(-38%);
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: center;
	font-weight: 600;
	color: #ec2910;
	@include fdpr(12px);
	span{
		display: block;
		margin-right: 15rem/$fsbase;
	}
	&.c2{
		color: #ffde43;
	}
}
.noticetip{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 642rem/$fsbase;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	.cont{
		padding: 30rem/$fsbase 40rem/$fsbase 60rem/$fsbase;
		color: #bf070b;
		font-weight: bold;
		background: #f5e8d8;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.title{
		text-align: center;
		@include fdpr(22px);
	}
	.desc{
		padding-top: 35rem/$fsbase;
		line-height: 1.5;
		text-indent: 2em;
		@include fdpr(14px);
	}
}
.commonbtn{
	margin-top: 1px;
	a{
		display: block;
		height: 80rem/$fsbase;
		line-height: 80rem/$fsbase;
		text-align: center;
		color: #bf070b;
		font-weight: bold;
		background: #f5e8d8;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		@include fdpr(16px);
	}
}
.tipMask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 98rem/$fsbase;
	z-index: 9;
	background: rgba(0,0,0,.3);
}
.choosetip, .chooseEnter{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	width: 642rem/$fsbase;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-weight: bold;
	.cont{
		padding: 30rem/$fsbase 40rem/$fsbase;
		color: #bf070b;
		font-weight: bold;
		background: #f5e8d8;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.title{
		text-align: center;
		@include fdpr(16px);
	}
	.tabtype{
		text-align: center;
		margin: 0 -40rem/$fsbase;
		padding: 40rem/$fsbase 0;
		span{
			display: inline-block;
			width: 276rem/$fsbase;
			height: 74rem/$fsbase;
			line-height: 74rem/$fsbase;
			margin: 0 18rem/$fsbase;
			background: url(../images/type.png) no-repeat;
			background-size: 100% auto;	
			color: #fff;
			text-shadow: 1px 1px 1px rgba(0,0,0,.5);		
			@include fdpr(16px);
		}
	}
	.desc{
		line-height: 1.5;
		text-indent: 2em;
		color: #c63c39;
		@include fdpr(14px);
	}
}
.enterbtn{
	margin-top: 1px;
	li{
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
		&:first-child{
			padding-right: 1px;
			a{
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 10px;
			}
		}
		a{
			display: block;
			height: 80rem/$fsbase;
			line-height: 80rem/$fsbase;
			text-align: center;
			color: #bf070b;
			border-bottom-right-radius: 10px;
			background: #f5e8d8;
			@include fdpr(16px);
		}
	}
}
.tabenter{
	margin-bottom: 34rem/$fsbase;
	.txt{
		display: block;
		width: 342rem/$fsbase;
		height: 60rem/$fsbase;
		margin: 0 auto;
		line-height: 60rem/$fsbase;
		text-align: center;
		color: #bf070b;
		background: #e1d2c0;
		@include fdpr(14px);
	}
}



































