html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.nav { position: fixed; bottom: 0; left: 0; right: 0; z-index: 9; height: 1.30667rem; background: url(../images/nav.png) no-repeat; background-size: 100% auto; display: -webkit-box; display: -webkit-flex; display: flex; }
.nav li { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; position: relative; }
.nav li a { display: block; height: 1.30667rem; }
.nav li:first-child.on a { background: url(../images/hover1.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(2).on a { background: url(../images/hover2.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(3).on a { background: url(../images/hover3.png) no-repeat; background-size: 100% auto; }
.nav li:last-child.on a { background: url(../images/hover4.png) no-repeat; background-size: 100% auto; }

#mask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: url(../images/mask.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.9); }

.dropdown { z-index: -1; position: absolute; bottom: 1.30667rem; left: 0; right: 0; background: #78401c; border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-transform: translateY(200%); transform: translateY(200%); -webkit-transition: transform .3s; transition: transform .3s; }
.dropdown.on { -webkit-transform: translateY(0); transform: translateY(0); }
.dropdown .link { padding: 0 0.26667rem; }
.dropdown .link a { height: 0.85333rem; line-height: 0.85333rem; text-align: center; color: #fcb07e; border-bottom: 2px solid #864e2a; font-size: 14px; }
[data-dpr="2"] .dropdown .link a { font-size: 28px; }
[data-dpr="3"] .dropdown .link a { font-size: 42px; }
.dropdown .link:last-child a { border-bottom: 0; }

.nav li .dropdown .link a { background: none; }

html, body { height: 100%; }

body { background: url(../images/copy_bg.png) no-repeat; background-size: 100% auto; }

.copybox { position: fixed; top: 0; left: 0; right: 0; bottom: 1.30667rem; z-index: 2; padding: 0.8rem 0 0.4rem; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.copybox::-webkit-scrollbar { opacity: 0; width: 0; }

.copyrow { padding: 0 0.32rem 0.33333rem; border-bottom: 2px solid #d1c1ab; }
.copyrow .title { padding: 0.13333rem 0; color: #673702; font-size: 17px; }
[data-dpr="2"] .copyrow .title { font-size: 34px; }
[data-dpr="3"] .copyrow .title { font-size: 51px; }

.enterbox { height: 0.90667rem; padding: 0 0.13333rem; border: 2px solid #db9c70; background: rgba(208, 133, 45, 0.2); }
.enterbox .txt { display: block; width: 100%; height: 0.90667rem; line-height: 0.90667rem; color: #bb6605; background: transparent; outline: none; font-size: 16px; }
[data-dpr="2"] .enterbox .txt { font-size: 32px; }
[data-dpr="3"] .enterbox .txt { font-size: 48px; }

.sharebtn { width: 8.29333rem; height: 1.14667rem; margin: 0.4rem auto 0; background: url(../images/share_btn2.png) no-repeat; background-size: 100% auto; }

/*# sourceMappingURL=copy.css.map */
