html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.nav { position: fixed; bottom: 0; left: 0; right: 0; z-index: 9; height: 1.30667rem; background: url(../images/nav.png) no-repeat; background-size: 100% auto; display: -webkit-box; display: -webkit-flex; display: flex; }
.nav li { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; position: relative; }
.nav li a { display: block; height: 1.30667rem; }
.nav li:first-child.on a { background: url(../images/hover1.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(2).on a { background: url(../images/hover2.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(3).on a { background: url(../images/hover3.png) no-repeat; background-size: 100% auto; }
.nav li:last-child.on a { background: url(../images/hover4.png) no-repeat; background-size: 100% auto; }

#mask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: url(../images/mask.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.9); }

.dropdown { z-index: -1; position: absolute; bottom: 1.30667rem; left: 0; right: 0; background: #78401c; border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-transform: translateY(200%); transform: translateY(200%); -webkit-transition: transform .3s; transition: transform .3s; }
.dropdown.on { -webkit-transform: translateY(0); transform: translateY(0); }
.dropdown .link { padding: 0 0.26667rem; }
.dropdown .link a { height: 0.85333rem; line-height: 0.85333rem; text-align: center; color: #fcb07e; border-bottom: 2px solid #864e2a; font-size: 14px; }
[data-dpr="2"] .dropdown .link a { font-size: 28px; }
[data-dpr="3"] .dropdown .link a { font-size: 42px; }
.dropdown .link:last-child a { border-bottom: 0; }

.nav li .dropdown .link a { background: none; }

.diligence_list .img_bg { position: absolute; z-index: 1; width: 100%; height: 100%; }
.diligence_list .content { position: absolute; width: 100%; top: 0; z-index: 2; }
.diligence_list .content .title { background: url("../images/diligence_list_title.png") no-repeat; background-size: 100% auto; width: 100%; text-align: center; height: 1.46667rem; line-height: 1.46667rem; color: #e36404; font-size: 18px; }
[data-dpr="2"] .diligence_list .content .title { font-size: 36px; }
[data-dpr="3"] .diligence_list .content .title { font-size: 54px; }
.diligence_list .content .title span { color: #ffc17d; }
.diligence_list .content .list { margin: 0.26667rem 1.2rem; background: url("../images/diligence_list_bg.png") no-repeat; background-size: 100% auto; height: 10.86667rem; overflow: hidden; }
.diligence_list .content .list dl { transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); transition-duration: 0.1s; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; }
.diligence_list .content .list dl dt { padding-top: 0.56rem; text-align: center; font-size: 15px; color: #a04604; }
[data-dpr="2"] .diligence_list .content .list dl dt { font-size: 30px; }
[data-dpr="3"] .diligence_list .content .list dl dt { font-size: 45px; }
.diligence_list .content .list dl dt span { color: #703f26; }
.diligence_list .content .btn { width: 100%; display: flex; margin-top: 0.53333rem; }
.diligence_list .content .btn li { float: left; width: 50%; text-align: center; }
.diligence_list .content .btn li img { width: 3.49333rem; height: 0.88rem; }

.back_bg { display: none; background: rgba(0, 0, 0, 0.4); position: absolute; width: 100%; height: 100%; top: 0; z-index: 11; }

.diligence_list_pop { display: none; position: absolute; z-index: 12; padding: 4.66667rem 0.86667rem 0 0.86667rem; }
.diligence_list_pop dl dt { padding: 0 0.4rem 0.4rem 0.4rem; background: #f5e8d8; border-top-right-radius: 10px; border-top-left-radius: 10px; }
.diligence_list_pop dl dt h3 { text-align: center; color: #bf070b; font-size: 22px; padding: 0.53333rem 0; margin: 0; }
[data-dpr="2"] .diligence_list_pop dl dt h3 { font-size: 44px; }
[data-dpr="3"] .diligence_list_pop dl dt h3 { font-size: 66px; }
.diligence_list_pop dl dt p { padding: 0; margin: 0; text-indent: 0.90667rem; color: #bf070b; font-size: 12px; line-height: 0.53333rem; }
[data-dpr="2"] .diligence_list_pop dl dt p { font-size: 24px; }
[data-dpr="3"] .diligence_list_pop dl dt p { font-size: 36px; }
.diligence_list_pop dl dd { background: #f5e8d8; margin-top: 2px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; text-align: center; color: #bf070b; font-size: 16px; padding: 0.33333rem 0; }
[data-dpr="2"] .diligence_list_pop dl dd { font-size: 32px; }
[data-dpr="3"] .diligence_list_pop dl dd { font-size: 48px; }

/*# sourceMappingURL=diligence_list.css.map */
