html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.nav { position: fixed; bottom: 0; left: 0; right: 0; z-index: 9; height: 1.30667rem; background: url(../images/nav.png) no-repeat; background-size: 100% auto; display: -webkit-box; display: -webkit-flex; display: flex; }
.nav li { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; position: relative; }
.nav li a { display: block; height: 1.30667rem; }
.nav li:first-child.on a { background: url(../images/hover1.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(2).on a { background: url(../images/hover2.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(3).on a { background: url(../images/hover3.png) no-repeat; background-size: 100% auto; }
.nav li:last-child.on a { background: url(../images/hover4.png) no-repeat; background-size: 100% auto; }

#mask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: url(../images/mask.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.9); }

.dropdown { z-index: -1; position: absolute; bottom: 1.30667rem; left: 0; right: 0; background: #78401c; border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-transform: translateY(200%); transform: translateY(200%); -webkit-transition: transform .3s; transition: transform .3s; }
.dropdown.on { -webkit-transform: translateY(0); transform: translateY(0); }
.dropdown .link { padding: 0 0.26667rem; }
.dropdown .link a { height: 0.85333rem; line-height: 0.85333rem; text-align: center; color: #fcb07e; border-bottom: 2px solid #864e2a; font-size: 14px; }
[data-dpr="2"] .dropdown .link a { font-size: 28px; }
[data-dpr="3"] .dropdown .link a { font-size: 42px; }
.dropdown .link:last-child a { border-bottom: 0; }

.nav li .dropdown .link a { background: none; }

.pagebox { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(../images/bg.png) no-repeat; background-size: 100% auto; }

.joss { position: absolute; top: 2.84rem; left: 1.37333rem; z-index: 3; width: 7.01333rem; height: 7.17333rem; }
.joss img { display: block; width: 100%; height: 100%; }

.vase { top: 8.26667rem; left: 0.93333rem; width: 3.10667rem; height: 3.10667rem; z-index: 5; }
.vase img { display: block; width: 100%; height: 100%; }
.vase.two { left: auto; right: 1.13333rem; }

.compote { top: 10.09333rem; left: 2.90667rem; width: 1.08rem; height: 1.28rem; z-index: 4; }
.compote img { display: block; width: 100%; height: 100%; }
.compote.two { left: auto; right: 3.12rem; }

.censer { top: 7.34667rem; left: 4.13333rem; width: 1.57333rem; height: 4.04rem; z-index: 4; }
.censer img { display: block; width: 100%; height: 100%; }

.bottle { top: 10.74667rem; left: 4.66667rem; width: 0.44rem; height: 0.62667rem; z-index: 5; }
.bottle img { display: block; width: 100%; height: 100%; }

.vase, .compote, .censer, .bottle { position: absolute; }

.circlebottom { position: absolute; top: 3.26667rem; left: 3.02667rem; width: 3.74667rem; height: 3.77333rem; background: url(../images/circle_bg.png) no-repeat; background-size: 100% auto; z-index: 1; }

.groly { position: absolute; top: -0.2rem; left: 1.29333rem; width: 7.06667rem; height: 6.92rem; z-index: 2; overflow: hidden; }
.groly .circle { position: relative; width: 100%; height: 100%; background: url(../images/circle.png) no-repeat; background-size: 100% auto; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-animation: ring 20s linear infinite; animation: ring 20s linear infinite; }

.incense { position: absolute; top: 8.96rem; left: 3.6rem; width: 2.76rem; height: 1.46667rem; z-index: 6; }
.incense a { display: block; }
.incense img { display: block; width: 100%; height: 100%; -webkit-animation: bling ease-in-out 1s infinite; animation: bling ease-in-out 1s infinite; }

.light { position: absolute; top: 5.97333rem; left: 0.46667rem; width: 1.8rem; height: 4.25333rem; z-index: 4; }
.light.two { left: auto; right: 0.52rem; }
.light img { display: block; width: 100%; }

.music { position: absolute; top: 1.13333rem; left: 0.21333rem; width: 1.16rem; height: 1.16rem; background: url(../images/music.png) no-repeat; background-size: 100% auto; z-index: 5; }
.music.off { background-image: url(../images/music_off.png); }

.smoke { position: absolute; top: 0; left: 0; right: 0; height: 1.30667rem; background-repeat: no-repeat; background-position: center bottom; background-size: 68% 100%; -webkit-animation: smoking 4s infinite; animation: smoking 4s infinite; }

@-webkit-keyframes ring { 0% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); } }
@keyframes ring { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }
@-webkit-keyframes bling { 0% { opacity: .5; }
  100% { opacity: 1; } }
@keyframes bling { 0% { opacity: .5; }
  100% { opacity: 1; } }
@-webkit-keyframes smoking { 0% { background-image: url(../images/smoke1.png); }
  30% { background-image: url(../images/smoke2.png); }
  60% { background-image: url(../images/smoke3.png); }
  100% { background-image: url(../images/smoke4.png); } }
@keyframes smoking { 0% { background-image: url(../images/smoke1.png); }
  30% { background-image: url(../images/smoke2.png); }
  60% { background-image: url(../images/smoke3.png); }
  100% { background-image: url(../images/smoke4.png); } }
.indexmask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; background: rgba(0, 0, 0, 0.3); }

.indextip { position: fixed; top: 50%; left: 50%; z-index: 100; width: 7.49333rem; font-weight: bold; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.indextip .cont { padding: 0.69333rem 0 0.53333rem; text-align: center; line-height: 1.5; color: #bf070b; background: #f5e8d8; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 14px; }
[data-dpr="2"] .indextip .cont { font-size: 28px; }
[data-dpr="3"] .indextip .cont { font-size: 42px; }

.indextip_btn { margin-top: 1px; }
.indextip_btn li a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; color: #ea9527; background: #f5e8d8; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; font-size: 16px; }
[data-dpr="2"] .indextip_btn li a { font-size: 32px; }
[data-dpr="3"] .indextip_btn li a { font-size: 48px; }

@media screen and (min-width: 360px) and (max-height: 519px) { .pagebox { background-size: 100% 100%; }
  .joss { height: 6.08rem; }
  .joss img { height: 6.08rem; }
  .light { top: 4.97333rem; }
  .vase { top: 7.10667rem; }
  .compote { top: 9rem; }
  .censer { top: 6.30667rem; }
  .bottle { top: 9.70667rem; }
  .incense { top: 7.96rem; } }
@media screen and (min-width: 640px) and (max-height: 960px) { .pagebox { background-image: url(../images/bg2.png); }
  .joss { top: 1.39063rem; left: 1.64063rem; width: 6.48438rem; height: 6.42188rem; }
  .light { top: 3.84375rem; width: 1.78125rem; height: 4.26563rem; }
  .groly { top: -0.96875rem; left: 1.75rem; width: 6.15625rem; height: 5.82813rem; }
  .circlebottom { top: 1.93333rem; }
  .vase { top: 5.9375rem; left: 1.17188rem; width: 2.96875rem; }
  .vase.two { left: auto; right: 1.17188rem; }
  .compote { top: 7.70313rem; left: 3.07813rem; width: 1.04688rem; height: 1.23438rem; }
  .compote.two { left: auto; right: 3.07813rem; }
  .censer { top: 5.0625rem; left: 4.25rem; width: 1.51563rem; height: 3.90625rem; }
  .bottle { top: 8.34375rem; left: 4.76563rem; }
  .incense { top: 6.95313rem; } }
.listTip, .foreshow { display: none; position: fixed; top: 50%; left: 50%; width: 8.56rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-weight: bold; }
.listTip .cont, .foreshow .cont { padding: 0.4rem 0.53333rem; color: #bf070b; line-height: 1.5; text-indent: 2em; background: #f5e8d8; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 14px; }
[data-dpr="2"] .listTip .cont, [data-dpr="2"] .foreshow .cont { font-size: 28px; }
[data-dpr="3"] .listTip .cont, [data-dpr="3"] .foreshow .cont { font-size: 42px; }

.listTip_btn { margin-top: 1px; }
.listTip_btn li { float: left; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.listTip_btn li:first-child { padding-right: 1px; }
.listTip_btn li:first-child a { border-bottom-right-radius: 0; border-bottom-left-radius: 10px; }
.listTip_btn li a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; color: #bf070b; border-bottom-right-radius: 10px; background: #f5e8d8; font-size: 16px; }
[data-dpr="2"] .listTip_btn li a { font-size: 32px; }
[data-dpr="3"] .listTip_btn li a { font-size: 48px; }

.listTip .cont { min-height: 2.53333rem; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; -webkit-box-pack: center; box-pack: center; -webkit-justify-content: center; justify-content: center; }

.foreshow .cont { padding-top: 0.66667rem; padding-bottom: 0.4rem; }

.foreshow_btn { margin-top: 1px; }
.foreshow_btn a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; font-weight: bold; color: #bf070b; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background: #f5e8d8; font-size: 16px; }
[data-dpr="2"] .foreshow_btn a { font-size: 32px; }
[data-dpr="3"] .foreshow_btn a { font-size: 48px; }

/*# sourceMappingURL=index.css.map */
