html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.nav { position: fixed; bottom: 0; left: 0; right: 0; z-index: 9; height: 1.30667rem; background: url(../images/nav.png) no-repeat; background-size: 100% auto; display: -webkit-box; display: -webkit-flex; display: flex; }
.nav li { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; position: relative; }
.nav li a { display: block; height: 1.30667rem; }
.nav li:first-child.on a { background: url(../images/hover1.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(2).on a { background: url(../images/hover2.png) no-repeat; background-size: 100% auto; }
.nav li:nth-child(3).on a { background: url(../images/hover3.png) no-repeat; background-size: 100% auto; }
.nav li:last-child.on a { background: url(../images/hover4.png) no-repeat; background-size: 100% auto; }

#mask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999; background: url(../images/mask.png) no-repeat; background-size: 100% auto; background-color: rgba(0, 0, 0, 0.9); }

.dropdown { z-index: -1; position: absolute; bottom: 1.30667rem; left: 0; right: 0; background: #78401c; border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-transform: translateY(200%); transform: translateY(200%); -webkit-transition: transform .3s; transition: transform .3s; }
.dropdown.on { -webkit-transform: translateY(0); transform: translateY(0); }
.dropdown .link { padding: 0 0.26667rem; }
.dropdown .link a { height: 0.85333rem; line-height: 0.85333rem; text-align: center; color: #fcb07e; border-bottom: 2px solid #864e2a; font-size: 14px; }
[data-dpr="2"] .dropdown .link a { font-size: 28px; }
[data-dpr="3"] .dropdown .link a { font-size: 42px; }
.dropdown .link:last-child a { border-bottom: 0; }

.nav li .dropdown .link a { background: none; }

.tablet { position: relative; padding-bottom: 1.30667rem; background: #5b2703; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.tablet::-webkit-scrollbar { opacity: 0; width: 0; }

.tablet_list { padding-top: 0.46667rem; background: url(../images/tablet_bg.png) repeat-y; background-size: 100% auto; }
.tablet_list li { position: relative; float: left; width: 33.33%; margin-bottom: 0.22667rem; }
.tablet_list li img { display: block; width: 2.38667rem; height: 5.94667rem; margin: 0 auto; }
.tablet_list li .time { display: block; height: 0.46667rem; margin-top: 0.50667rem; line-height: 0.46667rem; text-align: center; color: #670000; font-weight: bold; font-size: 12px; }
[data-dpr="2"] .tablet_list li .time { font-size: 24px; }
[data-dpr="3"] .tablet_list li .time { font-size: 36px; }

.tabname { position: absolute; top: 2.48rem; left: 50%; width: 1.2rem; height: 2.06667rem; -webkit-transform: translateX(-38%); transform: translateX(-38%); -webkit-writing-mode: vertical-lr; writing-mode: vertical-lr; text-align: center; font-weight: 600; color: #ec2910; font-size: 12px; }
[data-dpr="2"] .tabname { font-size: 24px; }
[data-dpr="3"] .tabname { font-size: 36px; }
.tabname span { display: block; margin-right: 0.2rem; }
.tabname.c2 { color: #ffde43; }

.noticetip { display: none; position: fixed; top: 50%; left: 50%; z-index: 100; width: 8.56rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.noticetip .cont { padding: 0.4rem 0.53333rem 0.8rem; color: #bf070b; font-weight: bold; background: #f5e8d8; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.noticetip .title { text-align: center; font-size: 22px; }
[data-dpr="2"] .noticetip .title { font-size: 44px; }
[data-dpr="3"] .noticetip .title { font-size: 66px; }
.noticetip .desc { padding-top: 0.46667rem; line-height: 1.5; text-indent: 2em; font-size: 14px; }
[data-dpr="2"] .noticetip .desc { font-size: 28px; }
[data-dpr="3"] .noticetip .desc { font-size: 42px; }

.commonbtn { margin-top: 1px; }
.commonbtn a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; color: #bf070b; font-weight: bold; background: #f5e8d8; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; font-size: 16px; }
[data-dpr="2"] .commonbtn a { font-size: 32px; }
[data-dpr="3"] .commonbtn a { font-size: 48px; }

.tipMask { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 1.30667rem; z-index: 9; background: rgba(0, 0, 0, 0.3); }

.choosetip, .chooseEnter { display: none; position: fixed; top: 50%; left: 50%; z-index: 1000; width: 8.56rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-weight: bold; }
.choosetip .cont, .chooseEnter .cont { padding: 0.4rem 0.53333rem; color: #bf070b; font-weight: bold; background: #f5e8d8; border-top-left-radius: 10px; border-top-right-radius: 10px; }
.choosetip .title, .chooseEnter .title { text-align: center; font-size: 16px; }
[data-dpr="2"] .choosetip .title, [data-dpr="2"] .chooseEnter .title { font-size: 32px; }
[data-dpr="3"] .choosetip .title, [data-dpr="3"] .chooseEnter .title { font-size: 48px; }
.choosetip .tabtype, .chooseEnter .tabtype { text-align: center; margin: 0 -0.53333rem; padding: 0.53333rem 0; }
.choosetip .tabtype span, .chooseEnter .tabtype span { display: inline-block; width: 3.68rem; height: 0.98667rem; line-height: 0.98667rem; margin: 0 0.24rem; background: url(../images/type.png) no-repeat; background-size: 100% auto; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); font-size: 16px; }
[data-dpr="2"] .choosetip .tabtype span, [data-dpr="2"] .chooseEnter .tabtype span { font-size: 32px; }
[data-dpr="3"] .choosetip .tabtype span, [data-dpr="3"] .chooseEnter .tabtype span { font-size: 48px; }
.choosetip .desc, .chooseEnter .desc { line-height: 1.5; text-indent: 2em; color: #c63c39; font-size: 14px; }
[data-dpr="2"] .choosetip .desc, [data-dpr="2"] .chooseEnter .desc { font-size: 28px; }
[data-dpr="3"] .choosetip .desc, [data-dpr="3"] .chooseEnter .desc { font-size: 42px; }

.enterbtn { margin-top: 1px; }
.enterbtn li { float: left; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 0; }
.enterbtn li:first-child { padding-right: 1px; }
.enterbtn li:first-child a { border-bottom-right-radius: 0; border-bottom-left-radius: 10px; }
.enterbtn li a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; color: #bf070b; border-bottom-right-radius: 10px; background: #f5e8d8; font-size: 16px; }
[data-dpr="2"] .enterbtn li a { font-size: 32px; }
[data-dpr="3"] .enterbtn li a { font-size: 48px; }

.tabenter { margin-bottom: 0.45333rem; }
.tabenter .txt { display: block; width: 4.56rem; height: 0.8rem; margin: 0 auto; line-height: 0.8rem; text-align: center; color: #bf070b; background: #e1d2c0; font-size: 14px; }
[data-dpr="2"] .tabenter .txt { font-size: 28px; }
[data-dpr="3"] .tabenter .txt { font-size: 42px; }

/*# sourceMappingURL=tablet.css.map */
