html, body, div, span, em, img, b, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; border: 0; outline: 0; font-style: normal; vertical-align: baseline; }

body { font-family: Helvetica, sans-serif; color: #333; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

ul { list-style: none; }

a:link, a:active, a:visited { color: #333; text-decoration: none; }

input, textarea, button { padding: 0; font-family: Helvetica, sans-serif; color: #333; border: 0; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none; outline: none; }

input::-webkit-input-placeholder { color: #999; }

.clearfix:after { content: ''; display: block; height: 0; clear: both; visibility: hidden; }

/********************************* reset end *********************************/
.tribute { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #40220e url(../images/tribute_bg.png) no-repeat; background-size: 100% auto; overflow: hidden; }

.chooseRow { position: relative; height: 2.29333rem; }
.chooseRow img { display: block; width: 100%; }
.chooseRow .flower { position: absolute; top: 0.17333rem; left: 0.10667rem; width: 2.90667rem; height: 2.13333rem; }
.chooseRow .stove { position: absolute; top: 0.08rem; left: 3.68rem; width: 2.70667rem; height: 2.21333rem; }
.chooseRow .fruit { position: absolute; top: 0.36rem; right: 0.42667rem; width: 2.18667rem; height: 1.93333rem; }

.chooseBox { height: 11.62667rem; margin-top: 0.82667rem; display: -webkit-box; display: -webkit-flex; display: flex; }

.chooselist { height: 100%; padding: 0.37333rem 0; overflow-y: auto; -webkit-overflow-scrolling: touch; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chooselist::-webkit-scrollbar { opacity: 0; }
.chooselist.flower { width: 3.2rem; }
.chooselist.flower img { width: 2.90667rem; }
.chooselist.stove { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }
.chooselist.stove img { width: 2.70667rem; }
.chooselist.fruit { width: 3.16rem; }
.chooselist.fruit img { width: 2.18667rem; }
.chooselist li { text-align: center; margin-bottom: 0.13333rem; }
.chooselist li img { display: block; height: 2.21333rem; margin: 0 auto 0.13333rem; }
.chooselist li .money { display: inline-block; min-width: 0.89333rem; padding: 0 0.32rem; height: 0.48rem; line-height: 0.48rem; color: #4d2d18; background: url(../images/mon.png) no-repeat; background-size: 100% auto; font-size: 12px; }
[data-dpr="2"] .chooselist li .money { font-size: 24px; }
[data-dpr="3"] .chooselist li .money { font-size: 36px; }

.chooseBtn { position: fixed; left: 50%; bottom: 0.04rem; width: 4.34667rem; height: 1.09333rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.chooseBtn a { display: block; height: 100%; background: url(../images/sure.png) no-repeat; background-size: 100% auto; }

.pagetips { display: none; position: fixed; top: 50%; left: 50%; width: 8.56rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #bf070b; font-weight: bold; }
.pagetips .title { padding: 0.4rem 0 0.26667rem; text-align: center; background: #f5e8d8; border-top-left-radius: 10px; border-top-right-radius: 10px; font-size: 24px; }
[data-dpr="2"] .pagetips .title { font-size: 48px; }
[data-dpr="3"] .pagetips .title { font-size: 72px; }
.pagetips .cont { padding: 0 0.53333rem 0.53333rem; line-height: 1.5; background: #f5e8d8; font-size: 14px; }
[data-dpr="2"] .pagetips .cont { font-size: 28px; }
[data-dpr="3"] .pagetips .cont { font-size: 42px; }
.pagetips .ptbtn { margin-top: 1px; }
.pagetips .ptbtn li { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.pagetips .ptbtn li a { display: block; height: 1.06667rem; line-height: 1.06667rem; text-align: center; color: #bf070b; background: #f5e8d8; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; font-size: 16px; }
[data-dpr="2"] .pagetips .ptbtn li a { font-size: 32px; }
[data-dpr="3"] .pagetips .ptbtn li a { font-size: 48px; }

@media screen and (min-width: 460px) and (max-height: 960px) { .tribute { background-size: 100% 100%; }
  .chooseBox { height: 10.56rem; } }
@media screen and (min-width: 360px) and (max-height: 519px) { .tribute { background-size: 100% 100%; }
  .chooseBox { height: 10.13333rem; } }

/*# sourceMappingURL=tribute.css.map */
