<div class="head-logo-area clearfix">
	<!-- logo-->
	<div class="head-logo-left">
    	<a href="#"><img src="images/college-logo.png" alt="" title=""></a>
    </div>
    <!-- 搜索-->
    <div class="head-search-center clearfix">
    	<div>全部</div>
        <input type="text" name="" >
        <button><span class="icon-search"></span></button>
    </div>
    <!-- gif 图片-->
    <div class="head-gif-right">
    	<img src="images/nav-xian.gif" alt="" title="" >
    </div>
</div>
<div class="head-nav-area">
	<div class="head-nav-top">
		<div class="head-nav clearfix">
    	<ul class="head-nav-left college-theme-color-a-hover">
        	<li class="sub_title_list_active">
            	<a href="#">留学首页</a>
                <div class="head-nav-border-white"></div>
            </li>
            <li>
            	<a href="#">留学知道<span class="icon-daosanjiao"></span></a>
                <ul>
                	<li><a href="#">政策动态</a></li>
                    <li><a href="#">留学须知</a></li>
                    <li><a href="#">留学指南</a></li>
                </ul>
                <div class="head-nav-border-white"></div>
            </li>
            <li>
            	<a href="#">留学攻略<span class="icon-daosanjiao"></span></a>
            	<ul>
                	<li><a href="#">留学规划</a></li>
                    <li><a href="#">留学费用</a></li>
                    <li><a href="#">留学申请</a></li>
                    <li><a href="#">留学考试</a></li>
                    <li><a href="#">文书写作</a></li>
                    <li><a href="#">签证办理</a></li>
                    <li><a href="#">行前指导</a></li>
                </ul>
                <div class="head-nav-border-white"></div>
            </li>
            <li>
            	<a href="#">生活在海外<span class="icon-daosanjiao"></span></a>
                <ul>
                	<li><a href="#">生活在北美</a></li>
                    <li><a href="#">生活在澳洲</a></li>
                    <li><a href="#">生活在英国</a></li>
                    <li><a href="#">生活在欧洲</a></li>
                    <li><a href="#">生活在亚洲</a></li>
                    <li><a href="#">生活在南美洲</a></li>
                </ul>
                <div class="head-nav-border-white"></div>
            </li>
            <li>
            	<a href="#">热点专题<span class="icon-daosanjiao"></span></a>
                <ul>
                	<li><a href="#">留学规划</a></li>
                    <li><a href="#">留学申请</a></li>
                    <li><a href="#">行前指南</a></li>
                    <li><a href="#">海外生活</a></li>
                    <li><a href="#">学成归国</a></li>
                </ul>
                <div class="head-nav-border-white"></div>
            </li>
            <li>
            	<a href="#">职业规划<span class="icon-daosanjiao"></span></a>
            	<ul>
                	<li><a href="#">移民定居</a></li>
                    <li><a href="#">学成归国</a></li>
                </ul>
                <div class="head-nav-border-white"></div>
            </li>
        </ul>
        <div class="head-nav-right-link">
        	<a href="http://college.zhan.com/list/">海外名校</a><a href="http://college.zhan.com/ranking/">名校排行</a>
        </div>
    </div>
    </div>
    <div class="head-crumbs-area clearfix">
    	<div class="head-crumbs-left clearfix">
        	<a href="#"><span class="icon-home"></span></a>&nbsp;&nbsp;
            <a href="#">首页</a>&nbsp;&nbsp;<span class="icon-you"></span>&nbsp;
             <a href="#" >留学</a>&nbsp;&nbsp;<span class="icon-you"></span>&nbsp;
            <a href="#" class="head-crumbs-a-active"><!--{{college-head-topic.topic.html}}--><!--{{college-head-applying.applying.html}}--><!--{{college-head-homecoming.homecoming.html}}--><!--{{college-head-overseaslife.overseaslife.html}}--><!--{{college-head-plan.plan.html}}--><!--{{college-head-preaction.preaction.html}}--></a>
        </div>
        <div class="head-crumbs-right">
        	学生选择在小站备考：30天<span class="font-color-Orange">522417</span>名，今日申请<span class="font-color-Orange">6876</span>人&nbsp;&nbsp;&nbsp;&nbsp;<a class="remarksConsulting">备考咨询 >></a> 
        </div>
    </div>
    
    
</div>